$header-height: px2rem(80);

.header {
  position: absolute;
  width: 100%;
  height: $header-height;

  .nav {
    @include main-layout;

    height: $header-height;
    line-height: $header-height;

    .item {
      @include text-with-mark;
      margin-right: px2rem(40);
    }
  }
}
