$color-button-primary: #eb5b58;


/* Root Base */
$color-root-mask: rgba(0, 0, 0, .4);
$color-root-content: rgba(0, 0, 0, .8);

/* Border */
$color-border-opacity: rgba(69, 69, 69, .1);
$color-blank: #ffffff;
$color-border: #eaeaea;

$color-box-shadow: rgba(0, 0, 0, .06);

$color-text: #454545;
$color-text-assist: #909090;
$color-text-light: #c9c9c9;
